<div id="container" [@listAnimaiton]="items.length">
  <button (click)="addItem()">Add Item</button>
  <button (click)="removeItem()">Remove Item</button>

  <div id="list" *ngFor="let item of items">
    {{ item }}
  </div>

  <div @explainerAnimation>
    <div class="col">
      <p>Need to learn Angular.</p>
    </div>
    <div class="col">
      <p>Need to learn React.</p>
    </div>
    <div class="col">
      <p>Need to learn React Native.</p>
    </div>
  </div>
</div>

<app-alert></app-alert>
